  <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #3b5998;">
    <a class="navbar-brand" href="/users">
      <img src="/public/images/logo/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
      Faceback
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="search d-flex justify-content-center">
        <form class="form-inline" action="/users/{{id}}/searchuser" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a user" aria-label="Search" name="search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item active">
          <a class="nav-link" href="/users/{{id}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/{{id}}/follow">Follow</a>
        </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/{{id}}/settings">Settings</a>
          <a class="dropdown-item" href="/public">Feedback</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      </ul>
    </div>
  </nav>