<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/public/stylesheets/bootstrap.min.css' />
</head>

<body>
  {{>navbar}}
  {{{body}}}
  <script src="/public/javascripts/jquery-3.4.1.js"></script>
  <script src="/public/javascripts/popper.min.js"></script>
  <script src="/public/javascripts/bootstrap.min.js"></script>
  <script src="/public/javascripts/{{includejs}}.js"></script>
</body>

</html>