<div class="container">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Name</th>
      <th scope="col">Feedback</th>
    </tr>
  </thead>
  <tbody>
    {{#each feedback as |item|}}
    <tr>
      <th scope="row">{{item.feedbackId}}</th>
      <td>{{item.username}}</td>
      <td>{{item.feedbackText}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>