<div class="container-fluid bg-light text-dark">
    <div class="row">
        {{>sidebar}}
        <div class="col-10" id="chats">
            <div class="row">
                <div class="col">
                    <h2 class="col text-center">CHAT</h1>
                </div>
            </div>
            <div class="row" style="height: 100%">
                <div id="loginDiv">
                    <input type="text" name="Username" placeholder="Enter username for chat" id="enterUsernameBox" class="form-control input-group">
                    <button id="loginBtn" class="btn-sm btn-primary m-1">Enter chat</button>
                </div>
                <div id="chatsDiv" class="container" style="height: 100%; display: none;">
                    <div id="showChat" class="bg-white"
                        style="height: 75%;border-left: blue solid 1px; border-right: blue solid 1px; border-top: blue solid 1px; overflow: scroll;">

                    </div>
                    <div id="showFeatures" class="bg-white"
                        style="height: 10%;border-left: blue solid 1px; border-right: blue solid 1px; border-bottom: blue solid 1px;">

                    </div>
                    <div id="chatInputDiv" style="height: 15%;border: blue solid 1px;">
                        <input type="text" name="chat-input" id="chatInput" placeholder="Start Typing"
                            class="col-11 form-control input-group form-inline" style="display: inline">
                        <button id="chatInputbtn" class="btn-sm btn-primary m-1 form-inline"
                            style="display: inline">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>