<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul id="tabs">
  <li>Login</li>
  <li>Sign Up</li>
</ul>
<div id="container">
  <div class="active">Content of Tab 1</div>
  <div>Content of Tab 2</div>
</div>

<script>
    document.querySelectorAll('#tabs>li').forEach((el, index) =>
    el.addEventListener('click', () => {
      document.querySelector('#container>.active').classList.remove('active');
      document.querySelector(`#container>:nth-child(${index + 1})`).classList.add('active');
    })
);
</script>

        <script type="text/javascript">
            $("#login_btn").click(function () {
                console.log('login btn clicked');
                $("#registerForm").hide();
                $("#loginForm").show();


            });

            $("#register_btn").click(function () {
                console.log('regsiter btn clicked');
                $("#loginForm").hide();
                $("#registerForm").show();


            });