
<div class="container-fluid p-3 mb-2 bg-light text-dark">
    <div align="center">
    <h1>Welcome to Faceback Social Network</h1>
</div>
    <div class="row">
        <div class="col">
            <img src="/public/images/loginpage/connected.png" alt="Connected Users">
        </div>
        <div class="col">
            <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active col-6" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab"
            aria-controls="nav-login" aria-selected="true">Login</a>
        <a class="nav-item nav-link col-6" id="nav-signup-tab" data-toggle="tab" href="#nav-signup" role="tab"
            aria-controls="nav-signup" aria-selected="false">Sign up</a>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
<form action="/login" method="post">
<form>
  <div class="form-group">
    <label for="userEmail">Username</label>
    <input type="email" name="username" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  <div class="form-group">
    <label for="userPassword">Password</label>
    <input type="password" class="form-control" id="userPassword" name="password" placeholder="Password">
  </div>
  {{!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="rememberCheck" id="rememberCheck">
    <label class="form-check-label" for="rememberCheck">Remember Me</label>
  </div> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</form>
    </div>
    <div class="tab-pane fade" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
        <form action="/signup" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email Address">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>

        </div>
    </div>
</div>
{{!-- <script type="text/javascript">
    $("#login_btn").click(function () {
        console.log('login btn clicked');
        $("#registerForm").hide();
        $("#loginForm").show();


    });

    $("#register_btn").click(function () {
        console.log('regsiter btn clicked');
        $("#loginForm").hide();
        $("#registerForm").show();


    }); --}}