<div class="container-fluid bg-light text-dark">

    <div class="profile">
        <div class="row">
            <div class="col-3" id="profileDetails">
                <div>
                    <img src="" alt="Profile Avatar" height="100%" width="100%" id="dp">
                </div>
                <div id="userPane">
                    
                </div>
            </div>
            <div id="userPosts" class="col-9">

            </div>
        </div>


    </div>
</div>