<div class="container-fluid bg-light text-dark">
    <div class="row">
        {{>sidebar}}
        <div class="col-10">
            <div class="profile">
                <form action="/api/posts" method="post">
                    <input type="text" name="newpost" id="newpost" placeholder="Enter something to post">
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
                <div id="userPosts">
                    
                </div>
            </div>

        </div>
    </div>
</div>